.gitignore
.git
.gitlab-ci.yml

*Dockerfile*
*docker-compose*
.dockerignore

.vscode/
bin/
dev/
node_modules/
scripts/
src/
typings/

*.env

tsconfig.json
tslint.json
package-lock.json
